nav {
  display: flex;
  align-items: center;
  background-color: #ffffff; /* Cor de fundo */
  padding: 10px 20px; /* Espaçamento interno */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra para dar profundidade */
}

nav img {
  max-height: 50px; /* Altura máxima da imagem do logo */
  margin-right: 15px; /* Espaço entre o logo e o título */
}

.navbar-brand {
  font-size: 1.8rem; /* Tamanho da fonte */
  color: black; /* Cor do texto */
  margin-right: auto; /* Para empurrar os links para a direita */
}

.navbar-links {
  display: flex; /* Exibir links em linha */
  list-style: none; /* Remover marcadores da lista */
  margin: 0; /* Remover margem */
  padding: 0; /* Remover padding */
}

.navbar-links li {
  margin-left: 20px; /* Espaçamento entre os links */
}

.navbar-links a {
  text-decoration: none; /* Remove o sublinhado */
  color: black; /* Cor do texto dos links */
  font-size: 1rem; /* Tamanho da fonte dos links */
  transition: color 0.3s; /* Transição suave para a mudança de cor */
}

.navbar-links a:hover {
  color: #ce1f3a; /* Cor dos links ao passar o mouse */
}
